.authorization__button {
  background-color: #FFFFFF;
  color: rgba(0, 0, 0, 1);
  margin: 215px auto auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

@media screen and (max-width: 768px) {
  .authorization__button {
    margin-top: 167px;
    width: 260px;
    height: 46px;
  }
}