.profile {
  display: grid;
  max-width: 880px;
  grid-template-rows: 120px auto;
  grid-template-columns: 120px minmax(min-content, 140px) auto 150px;
  grid-template-areas:
    "photo name btn-edit btn-add"
    "photo description btn-edit btn-add";
}

@media screen and (max-width: 1024px) {
  .profile {
    grid-template-columns: 120px minmax(min-content, 110px) auto 150px;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    min-width: 320px;
    grid-template-rows: 188px 11% 10% 17px;
    grid-template-columns: 320px;
    justify-items: center;
    grid-template-areas:
      "photo"
      "name"
      "description"
      "btn-edit"
      "btn-add";
  }
}
