.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  max-width: 880px;
  gap: 20px 17px;
  justify-items: center;
}

@media screen and (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    min-width: 320px;
    padding-top: 20px;
  }
}

