.popup__icon-status {
  background-image: url(../../../images/Union-Black.svg);
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  margin: 60px auto 32px;
}

@media screen and (max-width: 768px) {
  .popup__icon-status {
    margin: 50px auto 39px;
  }
}