.header__authorization {
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
  padding-top: 7px;
  transition: opacity .4s linear;
}

.header__authorization:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .header__authorization {
    font-size: 14px;
    line-height: 17px;
    padding-right: 30px;
  }
}