.popup__container_type_tooltip {
  min-height: 330px;
  min-width: 430px;
}

@media screen and (max-width: 768px) {
  .popup__container_type_tooltip {
    min-height: 308px;
    min-width: 280px;
  }
}